<!-- Loads a document on Document Cloud -->
<div id="DV-container">
  <noscript>
    <div id="DV-noJS">
      The Document Viewer requires that you enable Javascript.
    </div>
  </noscript>
</div>
<script src="<%= ENV['RAILS_RELATIVE_URL_ROOT']%>js/viewer.js"></script>
<script src="<%= ENV['RAILS_RELATIVE_URL_ROOT']%>js/templates.js"></script>
<script>
  DV.load('<%= file+".json" %>', {
  container: '#DV-container',
  sidebar: false,
  search: false,
  responsive: true
  });
</script>
