  <div class="container">
    <div class="col-md-10 col-md-offset-1 static-page">

      <h1>About the Project</h1>

      <p>The Snowden Document Search aims to provide a comprehensive, easy-to-use search that draws upon all text from available Snowden documents. The search is based upon the most complete archive of Snowden documents to date. It is meant to encourage users to explore the documents through its extensive filtering capabilities. While users are able to search  specifically by title, description, document, document date, and release date, categories also allow filtering by agency, codeword, document topic, countries mentioned, SIGADS, classification, and countries shared with. Results contain not only full document text, pdf, and description, but also links to relevant articles and basic document data, such as codewords used and countries mentioned within the document.</p>
      
      <p>This project is a collaboration between <a href="https://couragefound.org" target="_blank">Courage Foundation</a> and <a href="https://transparencytoolkit.org" target="_blank">Transparency Toolkit</a>. Courage Foundation's <a href="https://edwardsnowden.com" target="_blank">Edward Snowden Defence Fund</a> maintains the most comprehensive archive of documents and major news stories that have come out following the whistleblowing efforts of Edward Snowden. This archive was the first comprehensive database of Snowden documents initiated and it aims to preserve the historical impact of the documents. Transparency Toolkit and Courage have used the archive to categorise the documents and create a search capable of picking up keywords and from both document text and descriptions.</p>
      
      <ul>
        <li><a href="https://raw.githubusercontent.com/TransparencyToolkit/NSA-Data/master/nsadocs.json" target="_blank">Raw DataSet</a></li>
        <li><a href="https://github.com/transparencytoolkit/nsa-data" target="_blank">Github</a></li>
      </ul>

    </div>
  </div>