@font-face {
    font-family: 'tt-icons';
    src:    url('/fonts/tt-icons.eot?o5m3rp');
    src:    url('/fonts/tt-icons.eot?o5m3rp#iefix') format('embedded-opentype'),
        url('/fonts/tt-icons.ttf?o5m3rp') format('truetype'),
        url('/fonts/tt-icons.woff?o5m3rp') format('woff'),
        url('/fonts/tt-icons.svg?o5m3rp#tt-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tt-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*** Duplicated / Hack Mappings ***/
.icon-company:before {
    content: "\e906";
}

/*** Normal Mappings ***/

.icon-agencies:before {
    content: "\e900";
}
.icon-alerts:before {
    content: "\e901";
}
.icon-analysis:before {
    content: "\e902";
}
.icon-archive:before {
    content: "\e903";
}
.icon-bookmark:before {
    content: "\e904";
}
.icon-briefcase:before {
    content: "\e905";
}
.icon-building:before {
    content: "\e906";
}
.icon-calendar:before {
    content: "\e907";
}
.icon-certificate:before {
    content: "\e908";
}
.icon-checkmark:before {
    content: "\e909";
}
.icon-classification:before {
    content: "\e90a";
}
.icon-clock:before {
    content: "\e90b";
}
.icon-code:before {
    content: "\e90c";
}
.icon-codewords:before {
    content: "\e90d";
}
.icon-countries:before {
    content: "\e90e";
}
.icon-dashboard:before {
    content: "\e90f";
}
.icon-decentralization:before {
    content: "\e910";
}
.icon-distributed:before {
    content: "\e911";
}
.icon-document:before {
    content: "\e912";
}
.icon-documents:before {
    content: "\e913";
}
.icon-document-topic:before {
    content: "\e914";
}
.icon-download:before {
    content: "\e915";
}
.icon-education:before {
    content: "\e916";
}
.icon-email:before {
    content: "\e917";
}
.icon-folder:before {
    content: "\e918";
}
.icon-geopoint:before {
    content: "\e919";
}
.icon-google:before {
    content: "\e91a";
}
.icon-harvester:before {
    content: "\e91b";
}
.icon-indeed:before {
    content: "\e923";
}
.icon-industry:before {
    content: "\e91c";
}
.icon-link:before {
    content: "\e91d";
}
.icon-linkedin:before {
    content: "\e91e";
}
.icon-logo:before {
    content: "\e91f";
}
.icon-logo-black:before {
    content: "\e920";
}
.icon-modified:before {
    content: "\e921";
}
.icon-money:before {
    content: "\e922";
}
.icon-photos:before {
    content: "\e924";
}
.icon-plus:before {
    content: "\e925";
}
.icon-progress:before {
    content: "\e926";
}
.icon-research:before {
    content: "\e927";
}
.icon-rss:before {
    content: "\e928";
}
.icon-search:before {
    content: "\e929";
}
.icon-server:before {
    content: "\e92a";
}
.icon-shared-with:before {
    content: "\e92b";
}
.icon-social:before {
    content: "\e92c";
}
.icon-sources:before {
    content: "\e92d";
}
.icon-star:before {
    content: "\e92e";
}
.icon-survey:before {
    content: "\e92f";
}
.icon-telephone:before {
    content: "\e930";
}
.icon-terms:before {
    content: "\e931";
}
.icon-text:before {
    content: "\e932";
}
.icon-twiddler:before {
    content: "\e933";
}
.icon-twitter:before {
    content: "\e934";
}
.icon-upload:before {
    content: "\e935";
}
.icon-user:before {
    content: "\e936";
}
.icon-work:before {
    content: "\e937";
}
