[submodule "data_packages/month-names"]
	path = data_packages/month-names
	url = https://github.com/TransparencyToolkit/month-names
[submodule "app/dataspec/dataspec-linkedin"]
	path = app/dataspec/dataspec-LinkedinCrawl
	url = https://github.com/TransparencyToolkit/dataspec-linkedin
[submodule "app/dataspec/dataspec-indeed"]
	path = app/dataspec/dataspec-IndeedCrawl
	url = https://github.com/TransparencyToolkit/dataspec-indeed
