Gemfile.lock
/.bundle
/log/*.log
/tmp
config/initializers/simple_form.rb
config/locales/simple_form.en.yml
lib/templates/
/public/assets/
app/assets/stylesheets/theme-snowden/
app/assets/stylesheets/theme-pi/
public/themes/*
.sass-cache/
