@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('theme-default/fonts/sourcesansprobold.eot');
  src: url('theme-default/fonts/sourcesansprobold.eot?#iefix') format('embedded-opentype'),
       url('theme-default/fonts/sourcesansprobold.woff2') format('woff2'),
       url('theme-default/fonts/sourcesansprobold.woff') format('woff'),
       url('theme-default/fonts/sourcesansprobold.ttf') format('truetype'),
       url('theme-default/fonts/sourcesansprobold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
