//== Looking Glass
//
// Specific things needed for Looking Glass app that can be customized
//##

@import "theme-pi/bootstrap-variables";

$lg-navbar-brand-font:        'SourceSansPro-Bold';

$lg-tiny-heading-font:        'SourceSansPro-Bold';
$lg-tiny-heading-color:       $base-white;
$lg-tiny-heading-size:        13px;

$lg-sidebar-background-color: $base-tan;
$lg-sidebar-border-right:     0px;
$lg-sidebar-text-color:       #000;
$lg-sidebar-link-color:       $base-black;
$lg-sidebar-link-color-hover: lighten($base-black, 10%);
$lg-sidebar-link-font:        'SourceSansPro-Bold';
$lg-sidebar-link-hover-background-color: red;
$lg-sidebar-link-size:        21px;
$lg-sidebar-link-weight:      bold;
$lg-sidebar-link-spacing:     0px;
$lg-sidebar-term-on-bg:       $gray-light;
$lg-sidebar-term-on-color:    $lg-sidebar-text-color;

$lg-search-background-color:  $color-blue-green;
$lg-search-text-color:        $base-white;
$lg-search-light-text-color:  $gray-light;

$lg-search-filter-background-color: rgba(255, 255, 255, 0.2);
$lg-search-filter-color:            $base-white;
$lg-search-filter-font:             'SourceSansPro-Bold';
$lg-search-filter-weight:           normal;
$lg-search-filter-category-color:   rgba(255, 255, 255, 0.3);
$lg-search-filter-remove-color:     rgba(255, 255, 255, 0.5);

$lg-search-details-background-color:  rgba(255, 255, 255, 0.2);
$lg-search-details-font:              'SourceSansPro-Bold';
$lg-search-details-weight:            normal;

$lg-search-item-border-top:               0px;
$lg-search-item-border-right:             0px;
$lg-search-item-border-bottom:            0px;
$lg-search-item-border-left:              0px;
$lg-search-item-title-color:              $base-white;
$lg-search-item-title-font:               'SourceSansPro-Bold';
$lg-search-item-title-hover-color:        $base-white;
$lg-search-item-title-size:               24px;
$lg-search-item-title-weight:             500;
$lg-search-item-dataset-color:            #FFF;
$lg-search-item-dataset-hover-color:      #FFF;
$lg-search-item-detail-text-color:        $gray-lighter;
$lg-search-item-text-color:               $base-white;
$lg-search-item-highlight-background:     #e6ce95;
$lg-search-item-highlight-color:          $base-white;
$lg-search-item-facet-color:              $base-white;
$lg-search-item-facet-hover-color:        $base-white;

$lg-search-pagination-hover-bg:   transparent;
$lg-search-pagination-font:       'SourceSansPro-Bold';
$lg-search-pagination-color:      rgba(255, 255, 255, 0.7);
$lg-search-pagination-on-bg:      rgba(255, 255, 255, 0.2);
$lg-search-pagination-on-color:   $base-white;

$lg-show-background-color:    $color-red-brown;
$lg-show-color:               $base-white;
$lg-show-link-color:          $brand-danger;
$lg-show-link-color-hover:    darken($brand-danger, 15%);

$lg-show-tab-background-color:        darken($color-red-brown, 7%);
$lg-show-tab-color:                   darken($base-white, 20%);
$lg-show-tab-active-background-color: $color-red-brown;
$lg-show-tab-active-color:            $base-white;
$lg-show-tab-border-top:              0px;
$lg-show-tab-border-right:            0px;
$lg-show-tab-border-bottom:           0px;
$lg-search-item-border-left:          0px;

$lg-show-embed-border:        1px solid $gray-light;

$lg-show-article-color:       $gray-dark;
$lg-show-article-text-size:   18px;
$lg-show-article-text-weight: bold;
$lg-show-article-item-border: 0px;
$lg-show-article-number:      $gray-light;

$lg-static-background-color:  #FFF;
$lg-static-border-top:        0px;
$lg-static-border-right:      1px solid $gray-light;
$lg-static-border-bottom:     1px solid $gray-light;
$lg-static-item-border-left:  0px;
$lg-static-title-color:       $brand-danger;
