<div class="row-fluid">
<div class="span7 offset5" id="searchtags">
<%= render partial: 'search/searchfilters' %>
</div>
</div>

<br />
<div class="container-fluid fill">
<div class="row-fluid">
<div class="span3 offset1 sidebar" id="sidebar">
<%= render partial: 'nsadocs/sidebar' %>
</div>
<div class="span7 offset5" id="maincontent">

<%= render partial: 'nsadocs/list' %>
</div>
</div>
</div>

