
<section id="searchbox">
<%= form_tag search_path, method: 'get' do %>
  <input type="text" name="q" value="<%= params[:q] %>" id="q"
  autofocus="autofocus" class="form-control" placeholder="Search" tabindex="0" />
<% end %>
</section>


<%= render partial: 'nsadocs/list' %>
