<!-- Display datetime and number fields -->
<p class="datetime">
    <strong class="label"><%= human_readable %></strong>
    <span class="list_datetime <%= editclass %>"><%= DateTime.parse(date).strftime("%Y-%m-%d %H:%M:%S") %></span>
</p>
