<!-- Display datetime and number fields -->
<p class="datetime">
    <strong class="label"><%= human_readable %></strong>
    <span class="list_datetime <%= editclass %>"><%= date.to_s %></span>
</p>
