<!-- URLs representing an entity (website, social media, etc...) -->
<% if !data.blank? %>
<p class=<%= field %>>
    <strong class="label"><%= human_readable %></strong>
    <a href="<%= data %>" target="_blank"><%= data %></a>
</p>
<% end %>
