<div class="catalyst-job">
    <h4>People with phones</h4>
    <div class="row">
        <div class="col-md-6">
            2 text miners used
        </div>
        <div class="col-md-6">
            3452 items mined
        </div>
    </div>
    <ul class="nav">
        <li class="nav-list"><a href="">View Job Items</a></li>
        <li><a href="">Re-Run Job</a></li>
        <li><a href="">Delete Job</a></li>
    </ul>
</div>
