<ul class="nav nav-pills" style="text-align:center;">
    <li <% if params["action"] == "index" %> class="active"<% end %>>
        <a href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>catalyst/">
            <i class="icon-list"></i>
            Mining Jobs
        </a>
    </li>
    <li <% if params["action"] == "basic" %> class="active"<% end %>>
        <a href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>catalyst/basic/">
            <i class="icon-plus"></i>
            New Basic Job
        </a>
    </li>
    <li <% if params["action"] == "advanced" %> class="active"<% end %>>
        <a href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>catalyst/advanced/">
            <i class="icon-plus"></i>
            New Avanced Job
        </a>
    </li>
</ul>
