<div id="DV-container">
	<noscript>
	  <div id="DV-noJS">
		The Document Viewer requires that you enable Javascript.
	  </div>
	</noscript>
</div>
<script src="/js/viewer.js"></script>
<script src="/js/templates.js"></script>
<script>
DV.load('<%= file_path %>', { 		
	container: '#DV-container',
	sidebar: false,
	search: false,
	responsive: true
});
</script>
