<div class="detail-heading">Document Details</div>

<% first_doc = getFirstDoc %>
<% facet_check = Proc.new{ |f, doc| checkIfX(f, @dataspec.facet_fields) && doc[f["Field Name"]] && !checkIfX(f, @dataspec.item_fields)} %>

<%= raw(printData(first_doc, facet_check, "sidebar", @dataspec, @dataspec.facet_fields)) %>
	    
