<% if @dataspec.web_tab == "Yes" %>
<% if active == true%>
  <li class="active" id="liarticles">
<% else %>
  <li id="liarticles">
<% end %>
      <a href="#articles" data-toggle="tab"><i class="icon-link"></i>
	Links</a>
</li>
<% end %>
