<div id="sidebar" class="col-sm-4 col-md-3 sidebar">
  <%= render partial: 'docs/sidebar' %>
</div>
<div id="maincontent" class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
  <div class="row add-bottom">
    <div id="searchtags" class="col-md-9">
      <div class="detail-heading">No Filters</div>
      <div class="search-filter">
        <span class="filter">Add Filters</span><br>
        <span class="category">From sidebar or searchbox</span>
      </div>
    </div>
    <div id="search-details" class="col-md-3 text-right">
      <div class="detail-heading">Results</div>
      <div class="detail">
        <%= @total_count %> Total
      </div>
    </div>
  </div>
  <div id="search-result">
    <div id="uniquer">
      <%= render partial: 'docs/showresults' %>
    </div>
  </div>
  <div id="search-pagination">
    <%= will_paginate @pagination %>
  </div>
</div>
