  <div class="container">
    <div class="col-md-10 col-md-offset-1 static-page">

      <h1>Other Resources</h1>

      <p>The Surveillance Industry Index is just one of the resources
      available on the technologies sold by private surveillance
	companies. Other resources include:</p>
      <ul>
	<li><a href="https://wikileaks.org/spyfiles/">The Spy Files</a></li>
	<li><a href="http://buggedplanet.info">Bugged Planet</a></li>
	<li><a href="http://bluecabinet.info/wiki/Main_Page">Blue Cabinet</a></li>
	<li><a href="http://wiki.project-pm.org/wiki/Main_Page">Project PM</a></li>
      </ul>
    </div>
  </div>
