<div id="sidebar" class="col-sm-4 col-md-3 sidebar">
    <%= render partial: 'docs/show/sidebar' %>
    <!-- Theme Partial -->
    <% project = get_project_spec(ENV['PROJECT_INDEX']) %>
    <%=  render partial: '../assets/stylesheets/' + project['theme']+ '/sidebar' rescue nil %>
</div>
<div id="maincontent" class="efm-target col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
    <% if is_editable?("show") %>
    <div id="editable-bar" class="row unedited">
        <div class="col-xs-6 col-sm-6 col-md-6 title">
            <i class="icon-logo"></i>
            Document Editor
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
            <button class="pull-right btn btn-sm" id="button-editable-action">
               Start Editing
            </button>
            <button class="pull-right btn btn-sm add-right hide" id="button-editable-discard">
               Discard Changes
            </button>
        </div>
    </div>
    <% end %>
    <%= render partial: 'docs/show/tabs/tab_button_list' %>
    <%= render partial: 'docs/show/tabs/tab_pane_list' %>
</div>

<% if is_editable?("show") %>
<div class="modal fade" id="modal-save-changes" tabindex="-1" role="dialog" aria-labelledby="facetSaveModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Submitting Changes
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to save the changes you've made to this document?<br>
                    Don't worry, the original document will be preserved as older version.
                </p>
                <div class="text-right">
                    <button type="button" class="btn btn-default add-right" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-success" id="buttonSaveChanges">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-link" tabindex="-1" role="dialog" aria-labelledby="modalAddLink">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalAddLinkLabel">
                    Add Link
                </h4>
            </div>
            <div class="modal-body">
                <form id="form-associated-doc">
                    <p>
                        To link an associated document from this archive with
                        this document, paste the URL of that document here.
                    </p>
                    <div class="form-group">
                        <input name="url" type="text" class="form-control" id="documentUrl" placeholder="https://example.com/link-to-document">
                    </div>
                </form>
                <form id="form-related-link">
                    <div class="form-group">
                        <label for="name">Type</label>
                        <select name="name" class="form-control">
                            <optgroup label="Personal">
                                <option value="website">Website</option>
                                <option value="blog">Blog</option>
                            </optgroup>
                            <optgroup label="Social Media">
                                <option value="twitter">Twitter</option>
                                <option value="facebook">Facebook</option>
                                <option value="linkedin">LinkedIn</option>
                                <option value="youtube">YouTube</option>
                                <option value="amazon">Amazon</option>
                                <option value="google-plus">Google+</option>
                                <option value="flickr">Flickr</option>
                                <option value="myspace">MySpace</option>
                            </optgroup>
                            <optgroup label="Profiles">
                                <option value="wikipedia">Wikipedia</option>
                                <option value="imdb">IMDB</option>
                                <option value="amazon">Amazon</option>
                                <option value="ebay">Ebay</option>
                                <option value="academic">Academic</option>
                                <option value="author">Author</option>
                                <option value="journalist">Journalist</option>
                            </optgroup>
                            <optgroup label="Business">
                                <option value="company_website">Company Website</option>
                                <option value="patents">Patents</option>
                                <option value="registration">Registration</option>
                                <option value="taxes">Tax Filing</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input name="url" type="text" class="form-control" id="linkUrl" placeholder="https://example.com">
                    </div>
                </form>
                <form id="form-named-link">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="documentUrl" placeholder="Link Name">
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input name="url" type="text" class="form-control" id="documentUrl" placeholder="https://example.com/link-to-document">
                    </div>
                </form>
                <div class="text-right">
                    <button type="button" class="btn btn-default add-right" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" id="buttonAddLink">
                        <i class="icon-plus"></i> Add Link
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
