<div class="detail-heading">Select Filter Categories</div>

<!-- Render each field in the sidebar -->
<% get_facet_list_for_sidebar.each do |field| %>
  <%= render partial: 'docs/index/sidebar/facet_field_tree', locals: {field: field, facets: @facets} %>
<% end %>
  
<script>
  $(document).ready(function () {
  $('label.tree-toggler').click(function () {
    if ($(this).hasClass('just-minus')){
      $(this).addClass('just-plus').removeClass('just-minus');
    } else if ($(this).hasClass('just-plus')){
      $(this).addClass('just-minus').removeClass('just-plus');
    } else if ($(this).hasClass('plus')){
      $(this).addClass('minus').removeClass('plus');
    } else {
      $(this).addClass('plus').removeClass('minus');
    }
    $(this).parent().children('ul.tree').toggle(300);
  });
  });
</script>
<!-- Theme Partial -->
<% project = get_project_spec(ENV['PROJECT_INDEX']) %>
<%= render partial: '../assets/stylesheets/' + project["theme"] + '/sidebar' rescue nil %>
