  <div class="container">
    <div class="col-md-10 col-md-offset-1 static-page">

      <h1>Suggest Companies and Documents to Add</h1>

      <p>Are there companies we should add? Key documents or other details
      missing from this database? Please send suggestions for companies and
	documents to add to info@transparencytoolkit.org.</p>

    </div>
  </div>
