  <div class="container">
    <div class="col-md-10 col-md-offset-1 static-page">

      <h1>About the Project</h1>

      <p>DataPolitics is an archive of political marketing companies around the world,
	  with an initial focus on Mexico. The aim of this archive is to show
	  the scope and variety of actors involved in the political marketing
	industry and to provide a tool to help research political marketing
	companies.</p>

      <p>We have included data from a variety of sources, including news
      stories, company websites and brochures,
	and <a href="https://opencorporates.com">OpenCorporates</a>. To
      identify companies, we both conducted our own research on the industry
      and added the companies identified
      in <a href="https://ourdataourselves.tacticaltech.org/projects/data-and-politics/">Tactical
      Tech's reports</a> and the Cambridge Analytica scandal. We also included
      profiles of actors at a variety of steps of the process, including
      social media companies, data brokers, and advertising companies working
	with political campaigns.</p>

      <p>As this database is far from comprehensive and the political
      marketing industry is constantly changing, we
      welcome <a href="datapolitics_suggest">suggestions for companies and
	  documents to add</a>.</p>

      <p>This database was created by <a href="https://transparencytoolkit.org">Transparency Toolkit</a>
      with support from the <a href="https://webfoundation.org">Web Foundation</a>.
      </p>
	
      <p>The <a href="https://github.com/TheWebFoundation/DataPolitics"
		target="_blank">raw data</a> for this archive is also available.</p>.
    

    </div>
  </div>
