<div class="container">
  <div class="col-md-10 col-md-offset-1 static-page">
    <h1>Suggestion Received</h1>
    <p>We received the document you suggested and will review it as soon as possible.</p>
    <p>If you included an email address we will let you know your document has been added.</p>
    <a href="/document_suggest/" class="add-top add-bottom btn btn-primary" title="Suggest Another Document" alt="Suggest Another Document">
	  Suggest Another Document
    </a>
  </div>
</div>
