  <div class="container">
    <div class="col-md-10 col-md-offset-1 static-page">

      <h1>About USA v. WikiLeaks</h1>

      <p>USA v. WikiLeaks is an archive of legal documents related to the
      WikiLeaks grand jury investigation, Manning's trial, and other related
      cases. It is meant to provide a record of the investigation and
	prosecution of WikiLeaks across cases and data sources, in a
	searchable and browsable format. Users can search the full text of
      legal documents, browse the documents mentioning particular people or
	organizations, or filter by jurisdiction, case, and other criteria.</p>
      
      <p>This archive is still incomplete. This is in part because the
      WikiLeaks investigation itself is incomplete, and most of the documents
      are kept secret and only unsealed years later. We plan to continue to
	add documents about the WikiLeaks investigation, as well as additional data
      fields like laws and precedents cited. Additionally, we hope to expand
	this into a broader press freedom archive, covering both current and
	historical cases related to whistleblowing and freedom of the
	press.</p>

	<p>If you have suggestions for documents to add,
      please <a href="/document_suggest/">suggest them here</a>. If you would
      like to help add new data and cases to the archive, please email us at
	  info@transparencytoolkit.org.</p>

	
      <h1>Credits</h1>
      
      <p>This project is a collaboration
      between <a href="https://couragefound.org" target="_blank">Courage
      Foundation</a> and <a href="https://transparencytoolkit.org"
      target="_blank">Transparency Toolkit</a>. The Manning trial data is
      based
      on <a href="http://alexaobrien.com/manning/official-docket-manning">Alexa
      O'Brien's collection of trial documents</a>. And we would also like to
      thank Drake Logan for helping us prepare the documents for this
	archive.</p>
    </div>
  </div>
