
<div class="row-fluid">
<div class="span12">
<%= render partial: 'nsadocs/searchbar' %>
</div>
</div>

<br /><br />
<div class="container-fluid fill">
<div class="row-fluid">
<div class="span3 sidebar" id="sidebar">

<%= render partial: 'nsadocs/sidebar' %>
</div>
<div class="span9 offset3" id="maincontent">

<%= render partial: 'nsadocs/list' %>
</div>
</div>
</div>

