<div class="input-group">
<form action="" class="input-group-addon">
  <select name="ftypes" id="ftypes">
    <option value="all" selected>All</option>
    <option value="title">Title</option>
  </select>
</form>

<%= render partial: 'nsadocs/allquery' %>
<%= render partial: 'nsadocs/titlequery' %>
</div>
