
    <div id="sidebar">
      <%= render partial: 'nsadocs/sidebar' %>
    </div>
    <div id="maincontent">
    
      <div id="search-result">

        <div class="search-item">
          <h3 class="title"><a href="">Exploiting Terrorist Use of Games & Virtual Environments</a></h3>
          <a class="release-date">Published Jan 1, 2008</a>
          <div class="row">
            <div class="col-md-6 description">
              This NSA document from 2008 describes what the agency perceives as the dangers and opportunities presented by games and online gaming networks: see the <b>Guardian</b> article Spy agencies in covert push to infiltrate virtual world of online gaming, 9 December 2013.
            </div>
            <div class="col-md-6 document">
              ...OF SE OR ETri-tth MIN OF Targeting Ratienale (TAR) TO USA, FURY) The basic premise ef this precess is te <b>ruernerialize</b> wiry veu the analvst have requested targeting. This ratienale will he prev...
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 facets">
              <div class="facet">
                <img src="/assets/countries-24.png"> <a href="">Iraq</a> <a href="">Iran</a>
              </div>
              <div class="facet">
                <img src="/assets/agencies-24.png"> <a href="">GCHQ</a> <a href="">NSA</a> <a href="">BND</a>
              </div>
              <div class="facet">
                <img src="/assets/codewords-24.png"> <a href="">APSTARS</a> <a href="">PINWALE</a> <a href="">INTERACTION</a> <a href="">TERRAIN</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

