
    <div id="sidebar">
      <%= render partial: 'nsadocs/sidebar' %>
    </div>

    <div id="maincontent">

      <div id="search-details">
        <div class="detail">
          <%= Nsadoc.count %> Search Results
        </div>
      </div>

      <div id="search-result">
        <%= render partial: 'nsadocs/list' %>
      </div>

      <div id="search-pagination">
        <%= will_paginate @nsadocs %>
      </div>

    </div>
