
    <div id="sidebar">
      <%= render partial: 'nsadocs/sidebar' %>
    </div>

    <div id="maincontent">

      <div id="search-result">
        <%= render partial: 'nsadocs/list' %>
      </div>
    </div>
