$(document).ready(function() {
$('.tab-content').append('<div class="tab-pane active" id="<%= @docid %>doc"><%= escape_javascript(render(:partial => "nsadocs/doc", :locals => {docidfull: @docidfull}))%></div>');
});
