@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/leaguespartanbold.eot');
  src: url('/fonts/leaguespartanbold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/leaguespartanbold.woff2') format('woff2'),
       url('/fonts/leaguespartanbold.woff') format('woff'),
       url('/fonts/leaguespartanbold.ttf') format('truetype'),
       url('/fonts/leaguespartanbold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('/fonts/sourcesansprobold.eot');
  src: url('/fonts/sourcesansprobold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/sourcesansprobold.woff2') format('woff2'),
       url('/fonts/sourcesansprobold.woff') format('woff'),
       url('/fonts/sourcesansprobold.ttf') format('truetype'),
       url('/fonts/sourcesansprobold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
