//== Looking Glass
//
// Specific things needed for Looking Glass app that can be customized
//##

$lg-navbar-brand-top:                   -5px;
$lg-navbar-brand-img-height:            30px;
$lg-navbar-brand-font:                  $font-family-sans-serif;
$lg-navbar-brand-font-size:			    24px;
$lg-navbar-select-color:                $base-black;
$lg-navbar-select-background-color:     $base-white;
$lg-navbar-select-border:               0px;
$lg-navbar-input-color:                 $base-black;
$lg-navbar-input-background-color:      $base-white;
$lg-navbar-input-border:                0px;
$lg-navbar-input-placeholder-color:     $gray;
$lg-navbar-button-color:                $base-white;
$lg-navbar-button-background-color:     $brand-danger;
$lg-navbar-button-background-color-hover: darken($lg-navbar-button-background-color, 8%);
$lg-navbar-button-border:               0px;

$lg-tiny-heading-font:                  $font-family-sans-serif;
$lg-tiny-heading-color:                 $gray-light;
$lg-tiny-heading-size:                  12px;

$lg-sidebar-background-color:           #FFF;
$lg-sidebar-border-right:               1px solid $gray-light;
$lg-sidebar-icon-color:                 $base-black;
$lg-sidebar-text-font:                  $font-family-sans-serif;
$lg-sidebar-text-size:                  18px;
$lg-sidebar-text-color:                 $gray;
$lg-sidebar-text-color-hover:           $gray-dark;
$lg-sidebar-text-weight:                bold;
$lg-sidebar-expand-color:               $gray-light;
$lg-sidebar-link-color:                 $gray;
$lg-sidebar-link-color-hover:           #999;
$lg-sidebar-link-font:                  $font-family-sans-serif;
$lg-sidebar-link-size:                  14px;
$lg-sidebar-link-weight:                normal;
$lg-sidebar-link-spacing:               -1px;
$lg-sidebar-link-decoration:            none;
$lg-sidebar-link-decoration-hover:      underline;
$lg-sidebar-term-on-bg:                 $cs-blue-on;
$lg-sidebar-term-on-color:              $base-white;

$lg-search-background-color:            #FFF;
$lg-search-text-color:                  #000;
$lg-search-light-text-color:            $gray-light;

$lg-search-filter-background-color:     $base-white;
$lg-search-filter-color:                #000;
$lg-search-filter-font:                 $font-family-sans-serif;
$lg-search-filter-weight:               bold;
$lg-search-filter-category-color:       $gray-dark;
$lg-search-filter-remove-color:         $brand-danger;

$lg-search-details-background-color:    $lg-search-background-color;
$lg-search-details-font:                $font-family-sans-serif;
$lg-search-details-weight:              bold;
$lg-search-details-color:               $base-white;
$lg-search-details-sub-font:            $lg-search-details-font;
$lg-search-details-sub-color:           darken($base-white, 20%);
$lg-search-details-border-top:         	0px;
$lg-search-details-border-right:        1px solid $gray-light;
$lg-search-details-border-bottom:       1px solid $gray-light;
$lg-search-details-border-left:         0px;

$lg-search-item-padding:                15px 20px;
$lg-search-item-margin:                 20px;
$lg-search-item-border-top:             0px;
$lg-search-item-border-right:           1px solid $gray-light;
$lg-search-item-border-bottom:          1px solid $gray-light;
$lg-search-item-border-left:            0px;
$lg-search-item-title-color:            $brand-danger;
$lg-search-item-title-font:             $font-family-sans-serif;
$lg-search-item-title-hover-color:      $gray-dark;
$lg-search-item-title-size:             24px;
$lg-search-item-title-weight:           bold;
$lg-search-item-dataset-color:          #999;
$lg-search-item-dataset-hover-color:    #000;
$lg-search-item-detail-text-color:      $gray;
$lg-search-item-text-color:             $gray-darker;
$lg-search-item-highlight-background:   #e6ce95;
$lg-search-item-highlight-color:        $gray-darker;
$lg-search-item-facet-color:            #000;
$lg-search-item-facet-hover-color:      $brand-primary;
$lg-search-item-facet-icon-color:       $brand-primary;

$lg-search-pagination-hover-bg:         $cs-blue-on;
$lg-search-pagination-font:             $font-family-sans-serif;
$lg-search-pagination-color:            $lg-search-text-color;
$lg-search-pagination-on-bg:            $brand-primary;
$lg-search-pagination-on-color:         $base-white;

$lg-show-background-color:              $base-white;
$lg-show-color:                         #000;
$lg-show-link-weight:                   bold;
$lg-show-link-color:                    $brand-danger;
$lg-show-link-color-hover:              darken($brand-danger, 15%);

$lg-show-tab-background-color:          $cs-blue-on;
$lg-show-tab-color:                     $base-white;
$lg-show-tab-active-background-color:   $base-white;
$lg-show-tab-active-color:              $base-black;
$lg-show-tab-border-top:                0px;
$lg-show-tab-border-right:              1px solid $gray-light;
$lg-show-tab-border-bottom:             1px solid $gray-light;
$lg-search-item-border-left:            0px;

$lg-show-label-color:                   $gray;
$lg-show-label-weight:                  bold;
$lg-show-embed-border:                  1px solid $gray-light;
$lg-show-title-size:                    $lg-search-item-title-size;
$lg-show-title-weight:                  bold;
$lg-show-link-related-size:             21px;
$lg-show-link-related-color:            $base-black;
$lg-show-link-related-color-hover:      $brand-danger;

$lg-show-article-color:                 $cs-blue;
$lg-show-article-text-size:             18px;
$lg-show-article-text-weight:           bold;
$lg-show-article-item-border:           1px solid $gray-light;
$lg-show-article-number:                $gray-light;

$lg-show-version-border:                0px;
$lg-show-version-background:            $gray-lighter;
$lg-show-version-color:                 $gray-dark;
$lg-show-panel-title-font:              $font-family-sans-serif;
$lg-show-panel-title-size:              18px;

$lg-static-background-color:            #FFF;
$lg-static-border-top:                  0px;
$lg-static-border-right:                1px solid $gray-light;
$lg-static-border-bottom:               1px solid $gray-light;
$lg-static-item-border-left:            0px;
$lg-static-color:                       $base-black;
$lg-static-title-color:                 $brand-danger;


/* EFatmarker CSS */
$marker-button-size: 60px;
$marker-button-font-size: 30px;
$marker-button-color: $base-white;
$marker-button-background-color: $cs-blue;

$marker-menu-border: 4px solid $gray-lighter;
$marker-menu-background: $base-white;
$marker-menu-padding: 15px;

$marker-menu-title-color: $base-black;
$marker-menu-title-font: $lg-search-item-title-font;

$marker-menu-link-font: 14px sans-serif;
$marker-menu-link-color: $lg-search-item-title-color;
$marker-menu-link-hover-color: #000;

$marker-menu-permalink-color: $cs-blue;
