<!-- Allows choosing which fields to search -->
<form action="" class="navbar-form navbar-left input-group-addon">
  <select name="ftypes" id="ftypes" class="form-control">
    <option data-type="all" value="all" selected>All</option>
    <% datasources.each do |source| %>
      <%= group_and_render(source) %>
    <% end %>
  </select>
</form>
    
