<!-- Displays the option in the field dropdown next to the searchbar for a single field -->

<option data-type="<%= display_type %>" value="<%= field_param %>">
  <%= human_readable_name %>
</option>
