<!-- Allows choosing which fields to search -->
<% datasources = get_dataspecs_for_project(ENV['PROJECT_INDEX'])  %>
<form action="" class="navbar-form navbar-left input-group-addon">
  <select name="ftypes" id="ftypes" class="form-control">
    <option data-type="all" value="all" selected>All</option>
    <% datasources.each do |source| %>
      <%= render partial: "docs/index/search/searchbar/dropdown/dropdown_source_options",
                 locals: {source: source, source_param_name: gen_source_param_name(source)} %>
    <% end %>
  </select>
</form>
    
