<!-- Displays the option in the field dropdown next to the searchbar for a single field -->

<option data-type="<%= field_type %>" value="<%= field_param %>" data-labelname="<%= human_readable_name%>">
  <%= human_readable_name %>
</option>
