<div id="sidebar-details">
    <div class="detail-heading">Document Filters</div>
    <%= show_by_type("Category", @thread_fields, @dataspec, "show") %>
</div>

<!-- TODO: make this conditional based on "editable" session token -->
<div id="sidebar-editor-menu" class="more-bottom">
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#facet-add-modal">
        <i class="icon-edit"></i>
        Edit Document Properties
    </button>
</div>
