@import "bootstrap-variables-snowden";
@import "bootstrap/mixins";


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


.detail-heading {
  margin-bottom: 15px;
  color: $lg-tiny-heading-color;
  text-transform: uppercase;
  font-size: $lg-tiny-heading-size;
  font-family: $lg-tiny-heading-font;
  font-weight: normal;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.sidebar a,
.sidebar a:visited {
  color: $lg-sidebar-link-color;
}

.sidebar a:hover {
  color: $lg-sidebar-link-color-hover;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $lg-sidebar-background-color;
  }
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*** Navbar ***/

  a.navbar-brand {
    position: relative;
    top: -5px;
    font-family: $lg-navbar-brand-font;
    font-size: 24px;
    line-height: 24px;
  }

  a.navbar-brand span {
    position: relative;
    top: 3px;
  }
  
  a.navbar-brand img {
    max-height: 30px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar-form input[type="text"] {
    color: #000;
  }
  
  .nav-tabs > li > a {
    background-color: #CCCCCC;
  }
  
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    background-color: #A3A3A3;
    color: $base-black;
  }
  
  .nav-tabs > li > a:hover {
    background-color: #A8A8A8;
    color: $base-black;
  }
  

/*** Sidebar ***/

  #sidebar {  
    background-color: $lg-sidebar-background-color;
    color: $lg-sidebar-text-color;
    border-right: $lg-sidebar-border-right;
;
  }

  #sidebar h2,
  #sidebar h3,
  #sidebar h4 {
    font-family: $lg-sidebar-link-font;
  }
  
  #sidebar label.nav-header {
    font-size: $lg-sidebar-link-size;
    font-family: $lg-sidebar-link-font;
    font-weight: $lg-sidebar-link-weight;
    letter-spacing: $lg-sidebar-link-spacing;
  }

  #sidebar label.nav-header:hover {
    color: $lg-search-light-text-color;
    cursor: pointer;
  }

  #sidebar label.nav-header img {
    margin-right: 7px;
  }

  #sidebar label.plus:after {
    padding-left: 2px;
    font-size: ($lg-sidebar-link-size * .75);
    content: "+ Show More";
  }
  
  #sidebar label.minus:after {
    padding-left: 2px;
    font-size: ($lg-sidebar-link-size * .75);
    content: "- Show Less";
  }
  
  #sidebar label.just-minus:after {
    color: $lg-search-light-text-color;
    padding-left: 0px;
    content: " -";
  }
  
  #sidebar label.just-plus:after {
    color: $lg-search-light-text-color;
    padding-left: 0px;
    content: " +";
  }

  #sidebar ul.nav-list li em {
    width: 100%;
    display: block;
    background: $lg-sidebar-term-on-bg;
    padding: 10px 15px;
    font-style: normal;
  }

  #sidebar ul.nav-list li em a {
    font-size: $lg-sidebar-link-size * .75;
    color: $lg-sidebar-term-on-color;
  }

  #sidebar ul.nav > li > a {
    font-size: $lg-sidebar-link-size * .75;
    color: $lg-sidebar-link-color;
  }


  #sidebar ul.nav > li > a:hover,
  #sidebar ul.nav > li > a:focus {
    color: $gray-darker;
  }


/*** Main Content ***/

  a.remove-filter:hover {
    text-decoration: none;
    background-color: transparent;
  }


/*** Search Filters ***/

  #searchtags {
    margin-bottom: 20px;
  }

  div.search-filter {
    padding: 5px 10px 8px 10px;
    margin: 0px 15px 0px 0px;
    background-color: $lg-search-background-color;
    font-size: 16px;
    font-family: $lg-search-filter-font;
    font-weight: $lg-search-filter-weight;
    color: $lg-search-filter-color;
    display: inline-block;
    border-top: $lg-search-item-border-top;
    border-right: $lg-search-item-border-right;
    border-bottom: $lg-search-item-border-bottom;
    border-left: $lg-search-item-border-left;
  }
  
  div.search-filter span.category {
    font-size: 12px;
    font-family: $lg-search-filter-font;
    text-transform: uppercase;
    line-height: 12px;
    color: $lg-search-light-text-color;
  }

  .input-group {
    margin-left: 13%;
    margin-right: 2px;
    width: 92% !important;
    height: 80% !important;
    border: 2px solid #CCCCCC;
    background-color: #CCCCCC;
  }


/*** Search Result ***/

  #search-details {
    margin-bottom: 20px;
  }

  #search-details div.detail {
    display: inline-block;
    background: $lg-search-background-color;
    padding: 10px 15px;
    font-family: $lg-search-details-font;
    font-size: 18px;
    font-weight: $lg-search-details-weight;
    color: $lg-search-text-color;
    border-top: $lg-search-item-border-top;
    border-right: $lg-search-item-border-right;
    border-bottom: $lg-search-item-border-bottom;
    border-left: $lg-search-item-border-left;
  }

  #search-pagination {
    display: inline-block;
    margin-top: 20px;
    background: $lg-search-background-color;
    padding: 15px 10px;
    font-family: $lg-search-pagination-font;
    font-size: 18px;
    border-top: $lg-search-item-border-top;
    border-right: $lg-search-item-border-right;
    border-bottom: $lg-search-item-border-bottom;
    border-left: $lg-search-item-border-left;
  }

  #search-pagination .pagination {
    margin: 0px;
  }

  #search-pagination .pagination span,
  #search-pagination .pagination em,
  #search-pagination .pagination a {
    padding: 3px 8px;
  }

  #search-pagination .pagination em {
    font-style: normal;
    background: $lg-search-pagination-on-bg;
    color: $lg-search-pagination-on-color;
  }

  #search-pagination .pagination a,
  #search-pagination .pagination a:visited {
    color: $lg-search-text-color;
  }

  #search-pagination .pagination a:hover {
    text-decoration: none;
    color: $base-white;
    background-color: $lg-search-pagination-hover-bg;
  }


  #search-result {
    padding: 0px;
  }


  div.search-item {
    background: $lg-search-background-color;
    border-top: $lg-search-item-border-top;
    border-right: $lg-search-item-border-right;
    border-bottom: $lg-search-item-border-bottom;
    border-left: $lg-search-item-border-left;
    padding: 15px 20px;
    margin-bottom: 20px;
    color: $lg-search-text-color;
  }

  div.search-item h3.title,
  div.search-item h3.title a,
  div.search-item h3.title a:visited {
    font-size: $lg-search-item-title-size;
    font-family: $lg-search-item-title-font;
    font-weight: $lg-search-item-title-weight;
    line-height: 1.25em;
    margin-top: 0px;
    margin-bottom: 5px;
    color: $lg-search-item-title-color;
    text-decoration: none;
  }

  div.search-item h3.title a:hover {
    color: $lg-search-item-title-hover-color;
    text-decoration: none;
    background: transparent;
  }

  div.search-item h4.title-sub {
    font-size: 18px;
    font-family: $lg-search-item-title-font;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: $lg-search-item-title-color;
  }

  div.search-item .date,
  div.search-item .date:visited {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    color: $gray;
    font-size: 13px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
  }

  div.search-item div.description,
  div.search-item div.doc_text {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Helvetica, arial, sans-serif;
    line-height: 16px;
    color: $gray-darker;
  }

  div.search-item h3.title a b,
  div.search-item div.description b,
  div.search-item div.doc_text b {
    background: $brand-warning;
    padding: 2px;
    border-radius: 3px;
    color: $gray-darker;
  }

  div.search-item div.pictures {
    margin: 20px 0px; 
  }

  div.search-item img.picture {
    width: 150px;
    margin-right: 15px;
  }


  div.search-item div.facet {
    float: left;
    margin: 0px 15px 5px 0;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
  }

  div.search-item div.facet img {
    height: 18px;
  }

  div.search-item div.facet a {
    display: inline-block;
    margin: 0px 0px 0px 5px;
    color: $lg-search-facet-color;
  }

  div.search-item div.facet a:hover {
    background: transparent;
    color: $lg-search-facet-hover-color;
    text-decoration: none;
  }


/*** Document View ***/

  #maincontent ul.nav > li > a {
    background: $lg-show-tab-background-color;
    color: $base-white;
  }

  #maincontent ul.nav > li > a img {
    height: 18px;
    margin-right: 5px;
    -webkit-filter:invert(100%);
    filter: invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
  }  

  #maincontent ul.nav > li.active > a {
    background: $lg-show-tab-active-background-color;
    color: $gray-base;
  }

  #maincontent ul.nav > li.active > a img {
    -webkit-filter:invert(0%);
    filter: invert(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='0');
  }

  #maincontent div.tab-content {
    background: $lg-show-background-color;
    border-top: $lg-show-tab-border-top;
    border-right: $lg-show-tab-border-right;
    border-bottom: $lg-show-tab-border-bottom;
    border-left: $lg-search-item-border-left;
    color: $lg-show-color;
    padding: 20px;
  }

  #maincontent div.tab-content a,
  #maincontent div.tab-content a:visited {
    font-weight: bold;
    color: $lg-show-link-color;
  }

  #maincontent div.tab-content a:hover {
    color: $lg-show-link-color-hover;
    text-decoration: none;
  }


  #maincontent object.show-document {
    width: 100%;
    min-height: 700px;
    border: $lg-show-embed-border;
    background: transparent;
  }


  #maincontent iframe.show-iframe {
    background: transparent;
    border: $lg-show-embed-border;
  }

  #maincontent div.show-article-item {
    padding: 25px 0px;
    margin: 0px 0px;
    border-top: $lg-show-article-item-border;
  }

  #maincontent div.show-article-item span.article {
    display: block;
    margin-bottom: 15px;
    font-size: $lg-show-article-text-size;
    font-weight: $lg-show-article-text-weight;
    color: $lg-show-article-color;
  }

  #maincontent div.show-article-item span.article em {
    font-style: normal;
    color: $lg-show-article-number;
  }

  #maincontent div.show-article-item a {
    margin-right: 10px;
  }


/* Static Pages */

  .static-page {
    background: $lg-static-background-color;
    border-top: $lg-static-border-top;
    border-right: $lg-static-border-right;
    border-bottom: $lg-static-border-bottom;
    border-left: $lg-static-item-border-left;
    padding: 10px 25px;
    margin-top: 30px;
  }

  .static-page h1 {
    color: $lg-static-title-color;
  }
