// Place all the styles related to the Nsadocs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.plus:before
{
    content: "+ Show More";
}

label.minus:before
{
    content: "- Show Less";
}

label.just-minus:before
{
    content: "- ";
}

label.just-plus:before
{
    content: "+ ";
}
