<div class="more-bottom">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-add-link">
        <i class="icon-plus"></i>
        Add Link To Document
    </button>
</div>

<!-- Print out a list of links -->
<%= show_by_type("Link", @thread_fields, @dataspec) %>

<% @item_fields.each do |doc_item| %>
  <%= show_by_type("Link", doc_item, @dataspec) %>
<% end %>
